<%-include('templates/cabecera', {titulo: "inicio"});%>
    <div class="container mt-5 mb-5">
        <h1 class="text-primary">Hola desde EJS </h1>
        <h2><%= titulo %></h2>
    </div>
<%- include('templates/footer');%>