    <footer class="bg-dark text-center pt-3 pb-2">
        <div id="copyright" class="text-white"> Todos los derechos reservados &copy; 2021</div>
        <p class="text-white"><i>Creado por Melanie Lasso</i></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>